*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.side-bar{
    padding: 10px;
    background: #ffffff13;
    width: max(200px,100px);
}
.home{
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.723);
    max-width: 100px;
}
H1{
    color: #000000a2;
}
.control-room{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.main-content{
    padding: 2.5rem;
    border: 1px solid #ccc;
    display: flex;
}
.excluded{
    min-height: 200px;
    align-self: center;
    margin: 40px;
    background-color: rgba(255, 166, 0, 0.366);
    padding: 20PX;
    border-radius: 10px;
    text-align: center;
    max-width: 350px;
}
#hints{
    margin: 20px;
}
#progress{
    margin: 20px;
}
.form{
    margin: 30px;
}
#user-input{
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 50%;
    width: 200px;
}
#sbmt{
    padding: 5px;
    font-size: 1.2rem;
    /* margin: 0 auto; */
    display: block;
    margin-left: 80px;
}
#d-progress{
    font-size: 4rem;
    color: green;
}
.side-bar img{
    width: 100%;
}
.game-btn{
    background: rgba(255, 166, 0, 0.39);
    padding: 5px;
    border-radius: 6px;
    text-align: center;
    margin: 12px;
    display: block;
}

.attempts{
    max-width: fit-content;
    padding: 6px;
}
h2{
    color: #000000a2;
}
.ifwon{
    position: absolute;
    bottom: 50%;
    z-index: 10;
    display: none;
    text-decoration: dashed;
    background: rgba(0, 0, 0, 0.534);
}
.ifwon h1{
    margin: 10px;
    font-size: 2.204rem;
    text-transform:capitalize;
    color: #fffeff;
}
#reset{
    font-size: 2.9rem;
    color: white;    
    margin: 0 auto;
    display: block;
    background: none;
    border: none;
}
#reset:hover{
    background: #0000006d;
    border-radius: 50%;     
}
.result{
    display: flex;
    justify-content: center;
    align-items: center;
}
.keyboard{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.keyboard button{
    margin: 5px;
    padding: 10px;
    font-size: 1.7rem;
    background-color: #ffffff4d;
}