*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.seniors{
    display: flex;
}
.contain-me{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.col1{
    color: white;
    padding: 20px;
    background-color: #2B3E51;
}
.col1>*{
    margin: 15px 0 15px 0;
}
.col1 a{
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
}
.col1 a{
    padding: 10px;
    border-radius: 5px;
}
.col1 a:hover{
    background-color: green;
}
.col1 a.active{
    background-color: green;
}
.col2{
    margin: 200px 10px 0 10px;
    align-self: center;
    padding: 20px;
    margin-top: 10px;
}
.cover{
    margin: 100px 10px 0 10px;

}
.cover img{
    max-height: 600px;
    max-width: 600px;
}
.desc{
    margin: 20px 0 20px 0;
}